[submodule "libs/gsl"]
	path = libs/gsl
	url = git@github.com:Microsoft/GSL.git
[submodule "libs/range-v3"]
	path = libs/range-v3
	url = git@github.com:ericniebler/range-v3.git
[submodule "libs/cpputils"]
	path = libs/cpputils
	url = git@bitbucket.org:Rypac/cpputils.git
