[submodule "libs/range-v3"]
	path = libs/range-v3
	url = git@github.com:ericniebler/range-v3.git
[submodule "libs/GSL"]
	path = libs/GSL
	url = https://github.com/Microsoft/GSL
[submodule "libs/cocos2d"]
	path = libs/cocos2d
	url = https://github.com/cocos2d/cocos2d-x.git
	ignore = dirty
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json
