<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>animations</key>
    <dict>
        <key>intro_long</key>
        <dict>
            <key>delayPerUnit</key>
            <integer>1</integer>
            <key>restoreOriginalFrame</key>
            <false/>
            <key>loops</key>
            <integer>1</integer>
            <key>frames</key>
            <array>
                <dict>
                    <key>spriteframe</key>
                    <string>tandem_intro_00.png</string>
                    <key>delayUnits</key>
                    <real>0.15</real>
                    <key>notification</key>
                    <dict>
                        <key>firstframe</key>
                        <true/>
                    </dict>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>tandem_intro_01.png</string>
                    <key>delayUnits</key>
                    <real>0.15</real>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>tandem_intro_02.png</string>
                    <key>delayUnits</key>
                    <real>0.15</real>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>tandem_intro_03.png</string>
                    <key>delayUnits</key>
                    <real>0.15</real>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>tandem_intro_04.png</string>
                    <key>delayUnits</key>
                    <real>0.15</real>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>tandem_intro_05.png</string>
                    <key>delayUnits</key>
                    <real>0.15</real>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>tandem_intro_06.png</string>
                    <key>delayUnits</key>
                    <real>0.15</real>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>tandem_intro_07.png</string>
                    <key>delayUnits</key>
                    <real>0.15</real>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>tandem_intro_08.png</string>
                    <key>delayUnits</key>
                    <real>0.15</real>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>tandem_intro_09.png</string>
                    <key>delayUnits</key>
                    <real>0.15</real>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>tandem_intro_10.png</string>
                    <key>delayUnits</key>
                    <real>0.11</real>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>tandem_intro_11.png</string>
                    <key>delayUnits</key>
                    <real>0.10</real>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>tandem_intro_12.png</string>
                    <key>delayUnits</key>
                    <real>0.09</real>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>tandem_intro_13.png</string>
                    <key>delayUnits</key>
                    <real>0.08</real>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>tandem_intro_14.png</string>
                    <key>delayUnits</key>
                    <real>0.07</real>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>tandem_intro_15.png</string>
                    <key>delayUnits</key>
                    <real>0.07</real>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>tandem_intro_16.png</string>
                    <key>delayUnits</key>
                    <real>0.08</real>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>tandem_intro_17.png</string>
                    <key>delayUnits</key>
                    <real>0.10</real>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>tandem_intro_18.png</string>
                    <key>delayUnits</key>
                    <real>0.10</real>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>tandem_intro_19.png</string>
                    <key>delayUnits</key>
                    <real>0.15</real>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>tandem_intro_20.png</string>
                    <key>delayUnits</key>
                    <real>0.15</real>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>tandem_intro_21.png</string>
                    <key>delayUnits</key>
                    <real>0.15</real>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>tandem_intro_22.png</string>
                    <key>delayUnits</key>
                    <real>0.15</real>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>tandem_intro_23.png</string>
                    <key>delayUnits</key>
                    <real>0.15</real>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>tandem_intro_24.png</string>
                    <key>delayUnits</key>
                    <real>0.15</real>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>tandem_intro_25.png</string>
                    <key>delayUnits</key>
                    <real>0.15</real>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>tandem_intro_26.png</string>
                    <key>delayUnits</key>
                    <real>0.15</real>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>tandem_intro_27.png</string>
                    <key>delayUnits</key>
                    <real>0.15</real>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>tandem_intro_28.png</string>
                    <key>delayUnits</key>
                    <real>0.15</real>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>tandem_intro_29.png</string>
                    <key>delayUnits</key>
                    <real>0.15</real>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>tandem_intro_30.png</string>
                    <key>delayUnits</key>
                    <real>0.15</real>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>tandem_intro_31.png</string>
                    <key>delayUnits</key>
                    <real>0.15</real>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>tandem_intro_32.png</string>
                    <key>delayUnits</key>
                    <real>0.70</real>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>tandem_intro_33.png</string>
                    <key>delayUnits</key>
                    <real>0.20</real>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>tandem_intro_34.png</string>
                    <key>delayUnits</key>
                    <real>0.20</real>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>tandem_intro_35.png</string>
                    <key>delayUnits</key>
                    <real>0.70</real>
                    <key>notification</key>
                    <dict>
                        <key>lastframe</key>
                        <true/>
                    </dict>
                </dict>
            </array>
        </dict>
    </dict>
    <key>properties</key>
    <dict>
        <key>spritesheets</key>
        <array>
            <string>tandem_intro_spritesheet.plist</string>
        </array>
        <key>format</key>
        <integer>2</integer>
    </dict>
</dict>
</plist>
