<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{948,200}</string>
                <key>spriteSourceSize</key>
                <string>{948,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{948,200}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 7 10 7 8 9 7 9 10 5 6 7 2 3 4 2 4 5 0 2 5 0 1 2 0 5 7 0 10 11</string>
                <key>vertices</key>
                <string>901 36 924 36 926 61 948 61 948 139 924 141 924 164 899 166 899 200 0 200 0 0 899 0</string>
                <key>verticesUV</key>
                <string>902 37 925 37 927 62 949 62 949 140 925 142 925 165 900 167 900 201 1 201 1 1 900 1</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>banner.png</string>
            <key>size</key>
            <string>{950,202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f0774922fe63e08f14b94052499cb90:78599ba3978d237ae2f0dd07b726f4fb:0176001ba5b4c0b0916890d608783050$</string>
            <key>textureFileName</key>
            <string>banner.png</string>
        </dict>
    </dict>
</plist>
